@charset "utf-8";
/* CSS Document */

body {
	box-sizing: border-box;
	background: #ddd;
	font-size: 100%;
	}

/*NOTE: padding shorthand works like a clock*/

/*styling for the main element*/
main {
	background: #fff;
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding: 36px 24px;
}

/*all articles*/
article {
	font-family: 'Nanum Brush Script', cursive;
	padding: 0 16px;
}

article h1 {
	font-family: 'Merriweather', serif;
	font-size: 2.5em;
	text-transform:uppercase;
	color:#1565c0
}

/*This selects the article element with a class of intro*/
.intro img {
	width: 200px;
	height: auto;
	float: left;
	margin-right: 16px;
}

article p{
	font-size: 1.25em;
	line-height:1.5em;
}

.video {
	width: 560px;
	margin: 0 auto;
}